# See https://github.com/nanaian/wahtson/wiki/config.toml for documentation.

# Core bot options.
bot_token = ""
server_id = ""

# Command prefix that must be placed before commands in order to issue them.
# When talking to the bot in DMs this is optional.
command_prefix = "!"

# Economy settings. These are optional; if you avoid using coin-related
# actions/conditions, you don't need to provide this.
[economy]
starting_coins = 0


# These actions are executed when an unknown command is issued (ie. one not
# defined in the 'commands' list).
[[on_unknown_command]]
type = "REPLY"
text = "Unknown command."


# These actions are executed when a new member joins the server.
[[on_new_member]]
type = "REPLY_DM"
text = """
Welcome to the server!
"""


[pin]
emoji = ":pushpin:" # Custom emoji also work.
count = 4
disallow_from = [ "#pins" ]

    # These actions are executed once a message hits 4x :pushpin: reactions.
    [[pin.actions]]
    type = "COPY_SOURCE_MESSAGE"
    to = "#pins"

    [[pin.actions]]
    type = "REPLY_DM"
    text = "Your message was pinned!"


[[reactions]]
message = "" # Right click on message -> Copy ID. Omit this line to trigger for all messages.
emoji = ":package:"

    [[reactions.add_actions]]
    type = "GRANT_ROLE"
    role = "Awesome Person"


    [[reactions.remove_actions]]
    type = "REPLY_DM"
    text = "You are no longer awesome."

    [[reactions.remove_actions]]
    type = "REVOKE_ROLE"
    role = "Awesome Person"


[[commands]]
usage = "ping"

    [[commands.actions]]
    type = "REPLY" # See `src/actions.js` for documentation.
    text = "Pong!"


[[commands]]
usage = "superping"

    # This action will only trigger when the user has the
    # role 'awesome' AND does not have the role 'broke rules'. 
    [[commands.actions]]
    type = "REPLY"
    text = "**SUPERPONG!!!**"
    when = [
        # This action will only be executed when all `when` conditions are true.
        # If you have only one condition, you can omit the array brackets.
        { type = 'HAS_ROLE', role = 'awesome' },

        # You can also provide `negate = true` on any condition to negate it.
        { type = 'HAS_ROLE', role = 'broke rules', negate = true }
    ]

    # This action will trigger when the above one didn't.
    [[commands.actions]]
    type = "REPLY"
    text = "Sorry, you must be awesome to peform a superping."

        # This means the same as the brackets used above - use whichever you prefer.
        [[commands.actions.when]]
        type = 'PREVIOUS_ACTION_SKIPPED'


[[commands]]
usage = "buy_taco"

    [[commands.actions]]
    type = "PURCHASE_ITEM"
    item = "Taco"
    repeatable = true
    price = 2
    # Placeholders: $balance, $outstanding
    text_success = "Successfully purchased $_item, new balance: $balance"
    text_poor = "Not enough coins to purchase $_item, you need $outstanding more"
    text_duplicate = "You already have that item" # Only used when `repeatable = false`

[[purchases]]
item = "Taco"

    [[purchases.actions]]
    type = "REPLY"
    text = "Hope you enjoy your taco!"


[[commands]]
usage = "daily"

    [[commands.actions]]
    type = "GIVE_COINS"
    amount = 50
    text = "You have claimed your $_amount daily coins"
    when = { type = 'TIME_SINCE', time = { days = 1 }, count_use = false }

    [[commands.actions]]
    type = "REPLY"
    text = "You have to wait until tomorrow to use `!daily` again"
    when = { type = 'TIME_SINCE', time = { days = 1 }, negate = true }
