# Core bot options.
bot_token = ""
server_id = "413445781295464449"

# Command prefix that must be placed before commands in order to issue them.
# When talking to the bot in DMs this is optional.
command_prefix = "!wah "

# These actions are executed when an unknown command is issued (ie. one not
# defined in the 'commands' list).
[[on_unknown_command]]
type = "REPLY"
text = "Unknown command."


# These actions are executed when a new member joins the server.
[[on_new_member]]
type = "REPLY_DM"
text = """
Welcome to the server!
"""


[pin]
emoji = ":pushpin:" # Custom emoji also work.
count = 4
disallow_from = [ "#pins" ]

    # These actions are executed once a message hits 4x :pushpin: reactions.
    [[pin.actions]]
    type = "COPY_SOURCE_MESSAGE"
    to = "#pins"

    [[pin.actions]]
    type = "REPLY_DM"
    text = "Your message was pinned!"


[[reactions]]
message = "" # Right click on message -> Copy ID. Omit this line to trigger for all messages.
emoji = ":package:"

    [[reactions.add_actions]]
    type = "GRANT_ROLE"
    role = "Awesome Person"


    [[reactions.remove_actions]]
    type = "REPLY_DM"
    text = "You are no longer awesome."

    [[reactions.remove_actions]]
    type = "REVOKE_ROLE"
    role = "Awesome Person"


[[commands]]
usage = "ping"

    [[commands.actions]]
    type = "REPLY" # See `src/actions.js` for documentation.
    text = "Pong!"


[[commands]]
usage = "roses"

    [[commands.actions]]
    type = "GRANT_ROLE"
    role = "Verified"

    [[commands.actions]]
    type = "DELETE_SOURCE_MESSAGE"

    [[commands.actions]]
    type = "REPLY"
    text = "You have been verified."