name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      #- name: Install dependencies
      #  run: npm install --only=prod
      #- name: Compile native addons for Windows also
      #  run: npm i -g node-pre-gyp && cd node_modules/sqlite3 && node-pre-gyp configure build --target_platform=windows
      - name: Package
        run: zip -r9 WAHtson.zip src migrations package.json config-example.toml wahtson wahtson.cmd
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: WAHtson.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}